# Database (Neon)
DATABASE_URL="postgresql://user:password@host.neon.tech/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@host.neon.tech/dbname?sslmode=require"

# Auth.js
AUTH_SECRET="generate-a-random-32-char-string-here"
AUTH_URL="http://localhost:3000"

# Optional
NODE_ENV="development"
